@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
	font-family: 'Great Vibes', cursive;
	background: url(Images/curtain.png) no-repeat, center, center, fixed;
	background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}


.nav ul {
  list-style: none;
  background-color: #B11407;
  text-align: center;
  height: 66px;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Space Mono', monospace;
  font-size: 2.1em;
  line-height: 60px;
  height: 65px;
  width: 33%;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
 }

.nav li {
    display: inline-block;
    margin-right: -4px;
}